.container {
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  background-color: #4b4453;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ffff;
}

.video_box {
  width: 30rem;
  border-radius: 30px;
}

.copyright {
  display: flex;
  justify-content: center;
  align-items: center;
}
.copyright a {
  text-decoration: none;
  color: #ffff;
  margin: auto auto;
}
.copyright p {
  margin: 10px;
}
.social_icon {
  margin: 5px;
}
